<section class="text-center" id="eventTrilateralWorkshop">
	<div class="section-header py-5">
		<h1 class="text-uppercase">Researcher Links Workshop:<br />bio-soft-matter &amp; agrifood challenges</h1>
		<div class="colored-line"></div>
	</div>
	<div class="section-body">
		<div class="container py-5">
			<a class="btn bg-orange mb-3" href="" onclick="goto('scheduleSection');"><i class="far fa-clock fa-lg"></i><br/>Workshop schedule</a>
			<a class="btn bg-orange mb-3" href="" onclick="goto('talksSection');""><i class="far fa-address-card fa-lg"></i><br/>Abstracts and short Biography</a>
			<a class="btn bg-orange mb-3" href="" onclick="goto('participantsSection');""><i class="fas fa-users fa-lg"></i><br/>The List of participants</a>
			<a class="btn bg-orange mb-3" href="" onclick="goto('recreationSection');"><i class="fas fa-info-circle fa-lg"></i><br/>Recreation tips</a>
		</div>
	</div>
</section>

<section class="container">
	<div id="logos" class="row mt-5 text-center">
		<div class="col-12 col-sm-6 col-md-3 mb-3">
			<a href="https://www.britishcouncil.org" target="parent"><img src="assets/img/events/trilateral-workshop/british-council-logo.png" /></a>
		</div>
		<div class="col-12 col-sm-6 col-md-3 mb-3">
			<a href="http://www.newtonfund.ac.uk/" target="parent"><img src="assets/img/events/trilateral-workshop/newton-fund-logo.png" /></a>
		</div>
		<div class="col-12 col-sm-6 col-md-3 mb-3">
			<a href="http://www.fapesp.br/" target="parent"><img src="assets/img/events/trilateral-workshop/fapesp-logo.gif" /></a>
		</div>
		<div class="col-12 col-sm-6 col-md-3 mb-3">
			<a href="http://www.anii.org.uy/" target="parent"><img src="assets/img/events/trilateral-workshop/anii-logo.png" /></a>
		</div>
	</div>
</section>

<section class="py-5">
	<div class="container text-center">
		<h2 class="mt-2 text-uppercase">UK, Brazil and Uruguay Exploring the potential of biological soft matter in agrifood challenges</h2>
		<div class="colored-line mb-5"></div>
		<div class="row pb-5 text-justify">
			<div class="col-12 col-sm-6 col-md-3">
				<p class="alert alert-secondary"><strong>Calendar</strong></p>
				<ul>
					<li>Deadline: 18th February 2018</li>
					<li>Dates: 19th to 23rd March 2018</li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<p class="alert alert-secondary"><strong>Location</strong></p>
				<ul>
					<li>Blue Tree Towers Hotel</li>
				 	<li>Rua França Pinto, 553 - Vila Julia</li>
					<li>Guaruja, São Paulo, Brazil</li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<p class="alert alert-secondary"><strong>Organisers</strong></p>
				 <ul>
				 	<li>Dr Hermes Gadêlha (U. York)</li>
				 	<li>Prof. Jose Cuminato (USP - Sao Carlos)</li>
				 	<li>Dr. Nicolas Benech (U. of the Republic)</li>
				 </ul>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<p class="alert alert-secondary"><strong>Mentors</strong></p>
				 <ul>
				 	<li>Prof Martin Bees (U. York)</li>
				 	<li>Prof Gustavo Buscaglia (USP - São Carlos)</li>
				 	<li>Prof Carlos A. Negreira (U. of the Republic)</li>
				 </ul>
			</div>
		</div>
		
		<div class="row text-justify">
			<div class="col-12">
				<h3 class="pb-5">Newton Fund Researcher Links provides opportunities for early career researchers from the UK, Brazil and Uruguay to interact and explore opportunities for building long-lasting research collaborations.</h3>
				<p>Uruguay and Brazil share common challenges in agriculture and food production, from livestock farming and selective breeding to biofuel roduction, which form a significant part of both economies. Bio-soft matter science (experiments and theory) can directly tackle these. <span class="text-dark-blue">This is an explorative workshop focused on building up new collaborations</span>.</p>
				<p><span class="text-danger">No experience in agrifood production research is needed, or if you work in agrifood area, on soft matter science</span>. The workshop will focus n soft-matter science with the novel view point of agrifood challenges. This encompasses areas such Elastography, mechanical properties of oft material, mathematical biology and biophysics, fluid mechanics, solid mechanics and elasticity, stochastic and dynamical systems in a ide ange of length-scales, from single molecule to population dynamics.</p>
				<p>Other specific areas: Animal reproduction, livestock production, plant and animal science, including aquaculture systems, biofuel roduction and biofilm formation. Meat/fish production and meat elastography. Water science, water filtration, waterborn infections, bacterial rowth and antibiotic bacterial-resistance and viruses, elasticity related diseases either at cell or macroscopic level. <span class="text-danger">Participants are encouraged to bring other cross-related areas of interest</span>.</p>
			</div>
		</div>

		<div class="row py-5" ng-if="false">
			<div class="col-12">
				<button class="btn btn-lg btn-primary disabled" href="https://www.britishcouncil.org.br/events/NFRL-Gadelha" target="parent">Apply here</button>
			</div>
		</div>
	</div>
</section>

<section id="scheduleSection" class="bg-white py-5">
	<a id="schedule"></a>
	<div class="container text-center">
		<h4>Workshop schedule</h4>
		<div class="colored-line"></div>
		<div class="row pt-5">
			<table id="scheduleTable" class="table table-hover table-striped">
				<thead>
					<tr>
						<th width="10%"></th>
						<th width="15%">SUNDAY</th>
						<th width="15%">MONDAY</th>
						<th width="15%">TUESDAY</th>
						<th width="15%">WEDNESDAY</th>
						<th width="15%">THURSDAY</th>
						<th width="15%">FRIDAY</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>08:00</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>08:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td>WORKSHOP OUTING</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>09:00</td>
						<td></td>
						<td>OPENING (20min) and [<a href="" onclick="blink('1');">1</a>,<a href="" onclick="blink('2');">2</a>]</td>
						<td>[<a href="" onclick="blink('1');">12</a>,<a href="" onclick="blink('13');">13</a>,<a href="" onclick="blink('14');">14</a>]</ahref></td>
						<td></td>
						<td>Gap analysis/funding routes &amp; availability</td>
						<td>Pitch your project (10min per group)</td>
					</tr>
					<tr class="text-success">
						<td>10:30</td>
						<td></td>
						<td>COFFEE BREAK</td>
						<td>COFFEE BREAK</td>
						<td></td>
						<td>COFFEE BREAK</td>
						<td>COFFEE BREAK</td>
					</tr>
					<tr>
						<td>11:00</td>
						<td></td>
						<td>[<a href="" onclick="blink('3');">3</a>,<a href="" onclick="blink('4');">4</a>,<a href="" onclick="blink('5');">5</a>]</td>
						<td>[<a href="" onclick="blink('15');">15</a>,<a href="" onclick="blink('16');">16</a>,<a href="" onclick="blink('17');">17</a>]</td>
						<td></td>
						<td>Shortlist one project (one idea per group)</td>
						<td>Round table, feedback, discussions and future plans</td>
					</tr>
					<tr class="text-dark-blue">
						<td>12:30</td>
						<td></td>
						<td>LUNCH</td>
						<td>LUNCH</td>
						<td>LUNCH</td>
						<td>LUNCH</td>
						<td>LUNCH</td>
					</tr>
					<tr>
						<td>14:00</td>
						<td class="text-dark-blue">CHECK-IN</td>
						<td>[<a href="" onclick="blink('6');">6</a>,<a href="" onclick="blink('7');">7</a>,<a href="" onclick="blink('8');">8</a>]</td>
						<td>[<a href="" onclick="blink('18');">18</a>,<a href="" onclick="blink('19');">19</a>,<a href="" onclick="blink('20');">20</a>]</td>
						<td>[<a href="" onclick="blink('24');">24</a>,<a href="" onclick="blink('25');">25</a>,<a href="" onclick="blink('26');">26</a>]</td>
						<td>Write your project: title, summary, SMART objectives</td>
						<td></td>
					</tr>
					<tr>
						<td>15:30</td>
						<td></td>
						<td>[<a href="" onclick="blink('s1');">s1</a>,<a href="" onclick="blink('s2');">s2</a>]</td>
						<td>[<a href="" onclick="blink('s5');">s5</a>,<a href="" onclick="blink('s6');">s6</a>]</td>
						<td>[<a href="" onclick="blink('27');">27</a>]</td>
						<td class="text-success">COFFEE BREAK</td>
						<td class="text-danger">CHECK-OUT</td>
					</tr>
					<tr>
						<td>16:00</td>
						<td></td>
						<td class="text-success">COFFEE BREAK</td>
						<td class="text-success">COFFEE BREAK</td>
						<td class="text-success">COFFEE BREAK</td>
						<td>Impact statement of the research proposed</td>
						<td></td>
					</tr>
					<tr>
						<td>16:30</td>
						<td></td>
						<td>[<a href="" onclick="blink('9');">9</a>,<a href="" onclick="blink('10');">10</a>,<a href="" onclick="blink('11');">11</a>]</td>
						<td>[<a href="" onclick="blink('21');">21</a>,<a href="" onclick="blink('22');">22</a>,<a href="" onclick="blink('23');">23</a>]</td>
						<td>Division in 6-7 interest groups, Brainstorming project ideas</td>
						<td>Prepare you group presentation to pitch the project</td>
						<td></td>
					</tr>
					<tr>
						<td>18:00</td>
						<td></td>
						<td>[<a href="" onclick="blink('s3');">s3</a>,<a href="" onclick="blink('s4');">s4</a>]</td>
						<td>[<a href="" onclick="blink('s7');">s7</a>,<a href="" onclick="blink('s8');">s8</a>,<a href="" onclick="blink('s9');">s9</a>]</td>
						<td>Brainstorming project ideas utilizing the members expertise</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>18:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>19:30</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-danger">CONFERENCE DINNER</td>
						<td></td>
					</tr>
					<tr>
						<td>20:00</td>
						<td class="text-danger">WELCOME DINNER (Hotel Guaruja)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row text-left">
			<div class="col-12">
				<h5 class="text-success">PRESENTATION NOTES</h5>
				<ul>
					<li>We will take inspiration from innovative <strong>PechaKucha style</strong> of talk in with workshop.</li>
					<li><strong>Lecturers/Postdocs/Analysts [1-27]</strong> will have <strong>25min</strong> in total (22min talk + 3min questions)</li>
					<li><strong>PhD Students [s1-s9]</strong> will have <strong>15min</strong> in total (12min talk + 3min questions)</li>
					<li>Please refer to the <a href="#!/event-trilateral-workshop/#talks">Book of abstracts</a> for talk references [1-27] and [s1-s8]</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="talksSection" class="py-5">
	<a id="talks"></a>
	<div class="container text-center">
		<h4>Abstracts and short Biography</h4>
		<div class="colored-line"></div>
		<div class="row pt-5 condensed text-left">
			<div class="col-6 col-sm-4 col-md-3 mb-4" ng-repeat="item in talks">
				<div id="talk{{item.tNumber}}">
					<span class="text-muted">[{{item.tNumber}}]</span>
					<p><img src="assets/img/flag-{{item.country}}.png" title="{{item.country}}" width="16px" height="11px" />&nbsp;<strong>{{item.name}}</strong></p>
					<p><em>{{item.position}}</em></p>
					<p><small>{{item.department}} / {{item.university}}</small></p>
					<p class="text-danger">{{item.tTitle}}</p>
					<button class="btn btn-sm btn-primary mb-1" data-toggle="modal" data-target="#modal" data-whatever="@mdo" ng-click="view(item.abstract);">Abstract</button>
					<button class="btn btn-sm btn-success mb-1" data-toggle="modal" data-target="#modal" data-whatever="@mdo" ng-click="view(item.bio);">Biography</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="participantsSection" class="bg-white py-5">
	<a id="participants"></a>
	<div class="container text-center">
		<h4>List of Participants</h4>
		<div class="colored-line"></div>
		<div class="row pt-5 condensed text-left">
			<div class="col-6 col-sm-4 col-md-3 mb-4" ng-repeat="p in participants">
				<p><img src="assets/img/flag-{{p.country}}.png" title="{{p.country}}" width="16px" height="11px" />&nbsp;<strong>{{p.name}}</strong></p>
				<p><em>{{p.position}}</em></p>
				<p><small>{{p.department}} / {{p.university}}</small></p>
			</div>
		</div>
	</div>
</section>

<section id="recreationSection" class="bg-light">
	<div class="container text-center py-5">
		<a id="recreation"></a>
		<h4>Recreation tips</h4>
		<div class="colored-line"></div>

		<div class="row py-5">
			<div class="col-12 col-md-6">
				<i class="fas fa-utensils fa-lg"></i><br />
				<h5 class="pb-3">Restaurants</h5>
				<div class="row text-left">
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Blue Café</strong></p>
							<p>Localizado na cobertura do Hotel, 14° andar</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Dona Eva</strong></p>
							<p>Av. Miguel Estéfano, 1295 - Enseada, Guarujá</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Dati</strong></p>
							<p>Av. Miguel Estéfano, 1755 - Enseada, Guarujá</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Dona Dolores</strong></p>
							<p>Av. Miguel Estéfano, 2055 - Enseada, Guarujá</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<i class="fas fa-map-signs fa-lg"></i><br /><h5 class="pb-3">Places to visit</h5>
				<div class="row text-left">
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Pier Morro do Maluf</strong></p>
							<p>R. das Galhetas - Jardim Asturias, Guarujá -SP, 11420-100</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Forte dos Andradas - 1ª Brigada de Artilharia Antiaérea</strong></p>
							<p>R. Horácio Guedes Barreiros, S/N - Jardim Guaiuba, Guarujá</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Aquario</strong></p>
							<p>Av. Miguel Estéfano, 2001 - Jardim Tres Marias, Guarujá</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Teatro Procópio Ferreira</strong></p>
							<p>R. Augusta, 2823 - Cerqueira César, São Paulo</p>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="bd-callout bd-callout-info">
							<p><strong>Mirante das Galhetas</strong></p>
							<p>R. das Galhetas - Jardim Asturias, Guarujá</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 p-3 text-justify">
						<p>{{msg}}</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>